/*------------------------------------*\
    RESET BOILERPLATE CREDIT: 
    http://csswizardry.com/2011/01/the-real-html5-boilerplate/
\*------------------------------------*/


/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0b1 | 201101 
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/*------------------------------------*\
    $MAIN
    PALE GOLD: #C0B283
    SILK: #DCD0C0
    PAPER: #F4F4F4
    CHARCOAL: #373737
\*------------------------------------*/

body {
    background-color: #DCD0C0;
}

a {
    text-decoration: none;
    color: #F4F4F4;
}

.hide {
    display: none;
}

#all,
#live,
#offline {
    display: inline-block;
    position: relative;
    background-color: #C0B283;
    color: #F4F4F4;
    width: 33.22%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    /*height of 48px makes mobile clicking better*/
}

#live {
    margin-left: -1px;
    border-left: 1px solid #373737;
    border-right: 1px solid #373737;
}

#container {
    overflow: hidden;
    width: 282px;
    min-height: 150px;
    height: auto;
    display: block;
    background-color: #F4F4F4;
    position: relative;
    margin: 50px auto;
    box-shadow: 0px 0px 1px #373737;
}

span.active {
    color: #373737 !important;
}


/* Search bar */

#search-wrapper {
    text-align: center;
    margin-top: 10px;
}

#search-bar {
    height: 24px;
    border: 1px solid #373737;
    border-radius: 20px;
    padding-left: 30px;
}

#search-icon {
    position: relative;
    left: 10%;
}


/* User Item Styling */

.user-wrapper {
    clear: both;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.user-image {
    float: left;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.user-name,
.title {
    position: relative;
    top: 5px;
    left: 10px;
}

;
.user-name,
.title {
    margin: 10px 10px;
    float: left;
}

span.indicator-on {
    border-radius: 25px;
    position: relative;
    right: 10px;
    float: right;
    width: 10px;
    height: 10px;
    background-color: green;
}

span.indicator-off {
    border-radius: 25px;
    position: relative;
    right: 10px;
    float: right;
    width: 10px;
    height: 10px;
    background-color: red;
}